<app-navbar></app-navbar>

<div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Nombre jugador</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Link avatar</label>
    </div>
    <div class="container-fluid h-100"> 
        <div class="row w-100 align-items-center">
            <div class="col text-center">
                <button class="btn btn-success regular-button">Guardar</button>
            </div>	
        </div>
    </div>
</div>