<app-navbar></app-navbar>
<div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="Nombre equipo" [(ngModel)]="equipo['Nombre del equipo']" name='Nombre del Jugador'>
        <label for="floatingInput">Nombre equipo</label>
    </div>
    <div class="form-floating">
            <input type="text" class="form-control" placeholder="Link logo del equipo" [(ngModel)]="equipo['Logo del Equipo']" name='Logo del Equipo'>
        <label for="floatingInput">Link logo del equipo</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" placeholder="ID equipo" [(ngModel)]="equipo.id" name='id'>
        <label for="floatingInput">ID equipo</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" placeholder="Liga id" [(ngModel)]="equipo.Liga" name='Liga'>
        <label for="floatingInput">Liga id</label>
    </div>
    <div class="container-fluid h-100"> 
        <div class="row w-100 align-items-center">
            <div class="col text-center">
                <button class="btn btn-success regular-button" (click)="guardar(equipo)">Guardar</button>
            </div>	
        </div>
    </div>
</div>